RewriteEngine on
RewriteBase /FRAMEWORK_PHP_OO_MVC_ANGULAR.JS/backend/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ ?modules=$1&op=$2&param=$3&param2=$4&param3=$5 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ ?modules=$1&op=$2&param=$3&param2=$4 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)/([^/]*)$ ?modules=$1&op=$2&param=$3 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)/([^/]*)$ ?modules=$1&op=$2 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Rewriterule ^([^/]*)$ ?modules=$1&op=$2 [L,NC,QSA]
