<footer>
    <div class="footer">
       <a href="?modules=contact&op=view">Numero de contacto</a>;
       <a href="">Correo electronico</a>;
       <a href="">Direccion</a>;
       <p class="copyright text-muted">Copyright &copy; Your Website 2022</p>
       <button class = "default-button" id = "btn-slide" data-tr="LANGUAGES"></button>
      <div id = "slide-lang">
         <ul>
         <button class = "lang-btn" data-tr="SPANISH" id = "btn-es" "></button>
         <button class = "lang-btn" data-tr = "ENGLISH" id = "btn-en"></button>
         <button class = "lang-btn" data-tr = "VALENCIAN" id = "btn-val"></buttton>
         </ul>	
      </div>
    </div>
 </footer>