<header>   
    <div class="header">
       <div class="container">
          <div class="row">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                      <ul class="navbar-nav">
                         <div class="logo">
                           <a href='#/home'><img class="img_logo" src='frontend/views/images/icon-bioscar1.png' alt="#" /></a>
                         </div>
                         <li class="nav-item">
                           <a class="nav-link" id="homepage" href="#/home" data-tr="HOMEPAGE">HOMEPAGE</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="carspage" href="#/shop" data-tr="CARS">CARS</a>
                         </li>
                         <li class="nav-item">
                           <a class='nav-link' id="shopage" href='#/shop'><img class='img_shop' src='frontend/views/images/icon_shop.png'></img></a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="contactpage" href="#/contact" >CONTACT US</a>
                         </li>
                      </ul>
                      <div class="search-div">
                         <form class="search-form">
                            <select class="types" id="type" ng-model="type_selected" ng-change="load_model(type_selected)">
                               <option value="">TYPE</option>
                               <option value="{{types.type_name}}" ng-repeat="types in type" ">{{types.type_name}}</option>
                            </select>
                            <select id="model" ng-model="model_selected">
                              <option value="">MODEL</option>
                              <option value="{{models.model_name}}" ng-repeat="models in model" ">{{models.model_name}}</option>
                           </select>
                           <input type="text" id="city" autocomplete="off" ng-model="autocom" ng-change="autocomplete(type_selected, model_selected, autocom)"/>
                           <div id="search_city">
                              <div class="searchElement" ng-repeat="autocom in complete" >{{autocom.city}}</div>
                           </div>
                         </form>
                      </div>
                      <div id="logear">
                         <button class="buttonlogin" ng-show="button_login" ><a href="#/login">LOGIN</a></button>
                         <button class="button-logout" ng-show="button_logout"><a href="#/logout">LOGOUT</a></button>
                         <a class="img-avatar" ng-show="button_logout"><img class="avatar" ng-repeat="image in avatar" src="{{image.avatar}}"/></a>
                     </div>
                   </div>
                </nav>
             </div>
          </div>
          
       </div>
 </header>