<header>   
    <div class="header">
       <div class="container">
          <div class="row">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                      <ul class="navbar-nav">
                         <div class="logo">
                           <a href='#/home'><img class="img_logo" src='frontend/views/images/icon-bioscar1.png' alt="#" /></a>
                         </div>
                         <li class="nav-item">
                           <a class="nav-link" id="homepage" href="#/home" data-tr="HOMEPAGE">HOMEPAGE</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="carspage" href="#/shop" data-tr="CARS">CARS</a>
                         </li>
                         <li class="nav-item">
                           <a class='nav-link' id="shopage" href='#/shop'><img class='img_shop' src='frontend/views/images/icon_shop.png'></img></a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="contactpage" href="#/contact" >CONTACT US</a>
                         </li>
                      </ul>
                      <div class="search-div">
                         <form class="search-form">
                            <select class="types" id="type">
                               <option value="0">TYPE</option>
                            </select>
                            <select id="model">
                              <option value="0">MODEL</option>
                           </select>
                           <input type="text" id="city" autocomplete="off"/>
                           <div id="search_city"></div>
                         </form>
                      </div>
                      <div id="logear">
                        
                     </div>
                   </div>
                </nav>
             </div>
          </div>
          
       </div>
 </header>