<form id = "login__form" method="post">
<div class="login">
  <div class="form">
    <h2 class="welcomelogin">Welcome</h2>
    <div class="form__input">
    <input type="text" placeholder="Enter Username" id="username" name="username" ng-model="username" required ng-pattern="regex_username">
    <br>
    <font color="red" >
      <span id="error_username" class="error" ng-show="error_username_red">Error_username</span>
    </font>
    </div>
    <div class="form__input">
    <input type="password" placeholder="Enter Password" id="password" name="password" ng-model="password" required ng-pattern="regex_password">
    <br>
    <font color="red">
      <span id="error_password" class="error" ng-show="error_password_red">La contraseña o usuarios no son corretos</span>
    </font>
    </div>
    <div class="containerlogin">
      <a class="button" id="login" type="button" href="#/register">Create new account</a><br>
      <a class="recover_passw" id="recover_passw" type="button">FORGOT THE PASSWORD?</a>
    </div>
    <div class="button_container">
      <input class="button-login" id="login" type="button" value = "Enter" ng-click="login()"/>
    </div>
    <div class="social_login">
      <a class="social" id="social">OR</a><br>
      <input class="button-google" id="button-google" type="button" value = "google"/>
      <input class="button-git" id="button-git" type="button" value = "git"/>
    </div>
  </div>
</div>
</form>