<form id = "login__form" name="login_form"" method="post">
<div class="login">
  <div class="form">
    <h2 class="welcomelogin">Welcome</h2>
    <div class="form__input">
    <input type="text" placeholder="Enter Username" id="username" name="username" ng-model="username" required ng-pattern="regex_username" 
    ng-minlength="5" ng-maxlength="13">
    <br>
    <font color="red" >
      <span id="error_username" class="error" ng-show="login_form.username.$error.required && (login_form.username.$dirty 
      || login_form.username.$touched)">Introduzca un usuario</span>
      <span id="error_username" class="error" ng-show="login_form.username.$error.minlength">Minimo 5 caracteres</span>
      <span id="error_username" class="error" ng-show="login_form.username.$error.maxlength">Maximo 13 caracteres</span>
    </font>
    </div>
    <div class="form__input">
    <input type="password" placeholder="Enter Password" id="password" name="password" ng-model="password" required ng-pattern="regex_password"
    ng-minlength="5">
    <br>
    <font color="red">
      <span id="error_password" class="error" ng-show="login_form.password.$error.required && (login_form.password.$dirty ||
      login_form.password.$touched)">Introduzca una contraseña</span>
      <span id="error_password" class="error" ng-show="login_form.password.$error.minlength">Contraseña no segura</span>
      <span id="error_password" class="error" ng-show="error_password_red">La contraseña o usuarios no son correctos</span>
    </font>
    </div>
    <div class="containerlogin">
      <a class="button" id="login" type="button" href="#/register">Create new account</a><br>
      <a class="recover_passw" id="recover_passw" type="button">FORGOT THE PASSWORD?</a>
    </div>
    <div class="button_container">
      <input class="button-login" id="login" type="button" value = "Enter" ng-click="login()" ng-disabled = "login_form.username.$invalid || login_form.password.$invalid" />
    </div>
    <div class="social_login">
      <a class="social" id="social">OR</a><br>
      <input class="button-google" id="button-google" type="button" value = "google"/>
      <input class="button-git" id="button-git" type="button" value = "git"/>
    </div>
  </div>
</div>
</form>