<form id="register__form" name="register_form" method="post">
  <div class="login">
    <div class="form">
      <h2>Welcome</h2>
      <div class="form__input">
      <input type="text" placeholder="Enter Username" id="username" name="username" ng-model="username" ng-pattern="regex_username" required
      ng-minlength="5" ng-maxlength="13">
      <br>
      <font color="red">
        <span id="error_username" class="error" ng-show="register_form.username.$error.required && (register_form.username.$dirty 
          || register_form.username.$touched)">Introduzca un usuario</span>
        <span id="error_username" class="error" ng-show="register_form.username.$error.minlength">Minimo 5 caracteres</span>
        <span id="error_username" class="error" ng-show="register_form.username.$error.maxlength">Maximo 13 caracteres</span>
        <span id="error_username" class="error" ng-show="error_usuario_exists">Usuario introducido ya existe</span>
      </font>
      </div>
      <div class="form__input">
      <input type="text" placeholder="Enter Email" id="email" name="email" ng-model="email" ng-pattern="regex_email" required
       ng-minlength="5">
      <br>
      <font color="red">
        <span id="error_email" class="error" ng-show="register_form.email.$error.required && (register_form.email.$dirty 
          || register_form.email.$touched)">Introduzca un email</span>
        <span id="error_email" class="error" ng-show="register_form.email.$error.minlength">Minimo 5 caracteres</span>
        <span id="error_email" class="error" ng-show="error_email_exists">Email introducido ya existe</span>
      </font>
      </div>
      <div class="form__input">
      <input type="password" placeholder="Enter Password" id="password" name="password" ng-model="password" required ng-pattern="regex_password"
      ng-minlength="5">
      <br>
      <font color="red">
        <span id="error_password" class="error" ng-show="register_form.password.$error.required && (register_form.password.$dirty ||
        register_form.password.$touched)">Introduzca una contraseña</span>
        <span id="error_password" class="error" ng-show="register_form.password.$error.minlength">Contraseña no segura</span>
      </font>
      </div>
      <div class="form__input">
        <input type="password" placeholder="Repeat Password" id="password1" name="password1" ng-model="password1" required ng-pattern="regex_password">
        <br>
        <font color="red">
          <span id="error_password" class="error" ng-show="register_form.password1.$error.required && (register_form.password1.$dirty ||
          register_form.password1.$touched)">Introduzca una contraseña</span>
          <span id="error_password" class="error" ng-show="register_form.password1.$error.minlength">Contraseña no segura</span>
          <span id="error_password1" class="error" ng-show="error_password_double"></span>
        </font>
        </div>
      <div class="button_container">
        <input class="button-login" id="register" type="button" value = "Enter" ng-click="register()"/>
      </div>
      
    </div>
  </div>
  </form>